<!DOCTYPE html>
<html>
<head>
  <title>Примерный сайт</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" if admin? %>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <div id="logo">
    <h1><%= link_to "Примерный сайт sdfsdf", root_url %></h1>
    <h2><%= link_to "ВОРОНЕЖ", root_url %></h2>
  </div>
  <div id="menu">
    <ul>
      <li class="<%= 'active' if controller_name == 'pages' && @page.id == 1 %>"><%= link_to "Главная", root_url %></li>
      <li class="<%= 'active' if controller_name == 'pages' && @page.id == 2 %>"><%= link_to "Услуги", hiperlink_path(Page.find_by_hiperlink('service').hiperlink) %></li>
      <li class="<%= 'active' if controller_name == 'galeries' %>"><%= link_to "Фотогалерея", galeries_path %></li>
      <li class="<%= 'active' if controller_name == 'pages' && @page.id == 3 %>"><%= link_to "Контакты", hiperlink_path(Page.find_by_hiperlink('kontakt').hiperlink) %></li>
    </ul>
  </div>
</div>
<div id="page">
  <div id="content">
    <div style="margin-bottom: 20px;">
			<%= yield %>
			<% if admin? %>
				<div class='clear'></div>
				<br />
				<%= link_to "покинуть администрирование", logout_path %>
			<% end %>
		</div>
  </div>
  <!-- end content -->
  <!-- end sidebar -->
  <div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
<div id="footer">
  <p id="legal">&copy;2012 Текстильное декорирование интерьера. Разработка сайта <a href="http://yuliansait.ru">юлиансайт.рф</a></p>
</div>
</body>
</html>
